{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
    Experiment
{% endblock %}

{% block content %}
    
    Your role is <b>Player A</b>.
    {% if participant.vars.transparent_PartA %}
    Your pseudonym: hg647j8ek
    {% endif %}
    <br />

    <br />
    Your current balance is: {{Constants.endowment}}

    <br />
    <br />
    <br />
    Please consider the following two questions.
    <br />
    <br />
    <br />


    {% formfield player.intention %}
    <br />
    <br />


    {% formfield player.intention_amount %}
    <br />
    If you do not wish to transact (answered "No" for the first question), please set the amount to 0.



    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}