{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
    Experiment
{% endblock %}

{% block content %}
    
    Your role is: Player A. Your pseudonym: hg647j8ek
    <br />

    <br />
    Your current balance is: {{Constants.endowment}}

    <br />
    <br />
    <br />
    Please consider the following two questions.
    <br />
    <br />
    <br />


    {% formfield player.intention %}
    <br />
    <br />
    <br />


    {% formfield player.intention_amount %}
    <br />
    If you do not wish to transact, please set the amount to 0.



    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}