{% extends "global/Page_PartB.html" %}
{% load otree static %}



{% block title %}

{% endblock %}

{% block content %}
    
    You are <b>Player A</b>.
    {% if participant.vars.transparent_PartB %}
    Your pseudonym: hg647j8ek
    {% endif %}
    <br />

    <br />
    Your current balance is: {{Constants.endowment}}

    <br />
    <br />
    <br />
    Please consider the following two questions.
    <br />
    <br />
    <br />


    {% formfield player.intention %}
    <br />
    <br />


    {% formfield player.intention_amount %}
    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}