{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}

    <style>
        .otree-body {background-color: darkgreen; color: aliceblue; font-family: Calibri; font-size: 22px; max-width:1000px}
        .otree-btn-next {color: black; background-color: aliceblue; font-size: 22px; border-color: black; font-family: Calibri;}
        .otree-btn-next:hover {color: aliceblue; background-color: dimgrey; font-size: 22px; border-color: aliceblue; font-family: Calibri}
        .otree-title {font-family: Calibri; font-size: 26px; text-transform: uppercase}
        img {background-color: aliceblue}


    </style>

{% endblock %}

{% block global_scripts  %}
{% endblock %}

