{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
    Welcome
{% endblock %}

{% block content %}



    <br />
    Please read the following instructions carefully.
    <br />
    You will be asked to answer some confirmatory questions.
    If you do  not answer correctly, your payoff will be reduced!
    <br />
    <br />
    <b>Some instructions may seem similar, please read carefully - there are differences!</b>


    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}