{% extends "PartB/Page.html" %}
{% load otree static %}



{% block title %}

{% endblock %}

{% block content %}


    Please rate on a scale from "very low" (1) to "very high" (7).
    Be honest and give the first answer that comes to your mind.
    <br />
    <br />
    <br />


    <table  class="table">

        <tr>
            <th style="border-top-style: none"> </th>
{#            <th> </th>#}
            <th style="text-align:center; border-top-style:none"> very<br />low</th>
            <th style=" border-top-style: none"></th>
            <th style=" border-top-style: none"></th>
            <th style=" border-top-style: none"></th>
            <th style=" border-top-style: none"></th>
            <th style=" border-top-style: none"></th>
            <th style="text-align:center; border-top-style: none">very<br />high</th>
        </tr>

        {% for field in form %}
        <tr>
            <td  style="width:44%; border-right-style:solid; border-right-width: thin; border-right-color: lightgrey">{{ field.label }}</td>


            {% for choice in field %}
                <td width="7%"; align="center";>{{ choice.tag }}</td>
            {% endfor %}
        </tr>

        {% endfor %}
    </table>


    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}
