{% extends "PartB/Page.html" %}
{% load otree static %}



{% block title %}
    Welcome
{% endblock %}

{% block content %}



    <br />
    Please read the following instructions carefully. You will be asked to answer some confirmatory questions.
    If you do  not answer correctly, you will not be able to participate in the experiment! In that case, your payoff will be reduced!
    <br />
    <br />
    Make sure you will not be distracted during the following experiment, then click "Next".


    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}
