{% extends "global/Page.html" %}
{% load otree %}

{% block app_styles %}
    <style>
        .otree-body {background-color: darkgreen; color: aliceblue; font-family: "Verdana"; font-size: 16px; max-width:1000px}
        .otree-btn-next {color: black; background-color: aliceblue; font-size: 20px; border-color: black; font-family: "Verdana";}
        .otree-btn-next:hover {color: aliceblue; background-color: dimgrey; font-size: 20px; border-color: aliceblue; font-family: "Verdana"}
        .otree-title {font-family: "Verdana"; font-size: 22px; text-transform: uppercase}
        img {background-color: aliceblue}


    </style>
{% endblock %}

{% block app_scripts %}
    <script>
        ...
    </script>
{% endblock %}