{% extends "global/Page.html" %}
{% load otree static %}



{% block title %}
    Your Choice
{% endblock %}

{% block content %}
    
    You are <b>Player B</b>.
    {% if player.transparent %}
    Your pseudonym: je891hu9l
    {% endif %}
    <br />

    <br />
    Player A sent you {{group.sent_amount}}. Your current balance is: {{tripled_amount}}

    <br />
    <br />
    <br />
    {% formfield group.sent_back_amount %}
    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}