{% extends "PartA_Introduction/Page.html" %}
{% load otree static %}



{% block title %}

{% endblock %}

{% block content %}


    For the further course of the experiment it is necessary that you have understood the setting.
    Therefore, <b>if you answer the following questions wrong</b>, you will <b>not be able to continue participating</b> in the experiment and <b>will not receive a payout</b>.
    <br />
    Please read carefully.
    <br />
    <br />


    {% formfield player.confirm_1 %}
    {% formfield player.confirm_2 %}
    {% formfield player.confirm_3 %}
    {% formfield player.confirm_4 %}


    <br />
    <br />
    <br />
    {% next_button %}

{% endblock %}
